.main__title {
    font-size: 1.8rem;
    font-family: 'SF Pro Display' serif;
    margin-left: 1.1rem ;
    margin-bottom: 1rem;
}

main {
    background-image: url('../../assets/img/bodyBG/Ellipse\ 52.png'), url('../../assets/img/bodyBG/Ellipse\ 53.png'), url('../../assets/img/bodyBG/Ellipse\ 54.png'), url('../../assets/img/bodyBG/Ellipse\ 56.png') ;
    background-size: 16rem, 20rem, 4rem, 4rem;
    background-position: top right, top 20rem left 8rem, top 25rem  left 35rem, top 20rem right 18rem;
    background-repeat: no-repeat;
}