.main__title {
    font-size: 1.8rem;
    font-family: 'SF Pro Display' serif;
    margin-left: 1.1rem ;
    margin-bottom: 1rem;
}

main {
    background-image: url('../../assets/bodyBG/Ellipse\ 52.png') ;
    background-size: 12rem;
    background-position: top right;
    background-repeat: no-repeat;

    padding-top: 2rem;
    height: 100vh;
}

.wrapper__body {
    display: flex;
    flex-direction: column;

    width: 100%;
}

@media screen and (max-width: 1024px){
    .main__title {
        font-size: 1.5rem;
        margin-left: 1.1rem ;
        margin-bottom: .5rem;
    }
    
    main {
        background-image: url('../../assets/bodyBG/Ellipse.png') ;
        background-size: 10rem;
        background-position: top right;
        background-repeat: no-repeat;
    
        padding-top: 1rem;
    }
    
    .List {
        display: flex;
        justify-content: space-around;
    
        flex-wrap: wrap;
    }
    
}


@media screen and (max-width: 640px){
    .main__title {
        font-size: 1.5rem;
        margin-left: 1.1rem ;
    }
    
    main {
        background-image: url('../../assets/bodyBG/Ellipse\ 52.png') ;
        background-size: 8rem;
        background-position: top 1rem right;
        background-repeat: no-repeat;
    
        padding-top: 1rem;
    }
    
    .wrapper__body {
        display: flex;
        flex-direction: column;
    
        width: 100%;
        height: 100%;
    }
    
    .List {
        display: flex;
        justify-content: space-evenly;
    
        flex-wrap: wrap;
    }
    
}

@media screen and (max-width: 520px) {
    .List {
        justify-content: center;
    }
}