.card {
    display: flex;

    background-color: #4d4d4d;
    margin: 2rem;
    border-radius: 3rem;
}

.card__left {
    width: 70%;
    
    overflow: hidden;

    padding-top: 2rem;
    padding-left: 2rem;
}

.card__right {
    width: 30%;
    height: 35rem;

    & img {
        width: 100%;
        height: 100%;

        border-top-right-radius: 3rem;
        border-bottom-right-radius: 3rem;
    }
}

.card__name {
    font-size: 2.5rem;
    font-weight: bold;

    margin-bottom: 1rem;
}

.card__author {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.card__categories {
    font-size: 1.5rem;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.card__description {
    width: 95%;
    height: 17rem;

    overflow-y: scroll;
    font-size: 1.2rem;
    text-indent: 1.5em;
}

@media screen and (max-width: 1024px) {

    .card__left {
        width: 65%;
        
        overflow: hidden;
    
        padding-top: 1.4rem;
        padding-left: 1.4rem;
        padding-bottom: 2rem;
    }
    
    .card__right {
        width: 35%;
        height: inherit;
    }

    .card__name {
        font-size: 1.5rem;
        font-weight: bold;
    
        margin-bottom: 1rem;
    }
    
    .card__author {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }
    
    .card__categories {
        font-size: 1rem;
        text-decoration: underline;
        margin-bottom: 1rem;
    }
    
    .card__description {
        width: 95%;
        height: 20rem;

        overflow-y: scroll;
    
        line-height: 1.4rem;
        font-size: 1rem;
        text-indent: 1.5em;
    }
}


@media screen and (max-width: 640px) {
    .card {
        margin: 1rem;
        border-radius: 2rem;
    }

    .card__left {
        width: 65%;
        
        padding-top: 1rem;
        padding-left: 1rem;
        padding-bottom: 1.4rem;
    }
    
    .card__right {
        width: 35%;
        height: inherit;

        & img {
            border-top-right-radius: 2rem;
            border-bottom-right-radius: 2rem;
        }
    }

    .card__name {
        font-size: 1.5rem;
    }
    
    .card__author {font-size: 1rem;}
    
    .card__categories {font-size: .8rem;}
    
    .card__description {
        width: 95%;
        height: 10rem;

    
        line-height: 1.4rem;
        font-size: .8rem;
        text-indent: .5rem;
    }
}