.side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    transition: .5s;
    position: absolute;
    top: 0;
    left: -21rem;

    height: 100%;

    background-color: #27282A;

    &.active {
        left: 0rem;
    }
}
.potishion {
    width: 100%;
    height: 100%;

    
    &.state {
        overflow: hidden;
    }
}

.side__wrapper {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    padding-top: 2.5rem;
}

.side__input {
    width: 100%;
}

label {
    font-family: 'Ubuntu', sans-serif;
    display: block;
}

input {
    all: unset;
}

.side__input {
    background-color: none;

    height: 2rem;
    font-size: 1.5rem;
    color: white;

    border: none;
   
    
    margin-bottom: .5rem;
    margin-top: .5rem;
    margin-right: 0.5rem;
}

.side__search {
    display: flex;

    & span {
        font-size: 1.2rem;
    }

    border-bottom: .2rem solid black;
    
    &:focus {
        border-bottom: .2rem solid black;
    }
}

.form__input {
    position: relative;
}

.side__link {
    text-decoration: none;
}

.side__logo {
    display: flex;
    align-items: center;

    font-size: 2rem;
    color: white;

    margin-bottom: 1rem;

    & img {
        margin-right: .5rem;
    }
}

.side__footer {
    display: flex;
    align-items: flex-end;

    padding: 1rem;
}
.SelectText {
    font-size: 1.1rem;
    
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}

.side__select {
    display: flex;

    & select {
        width: 100%;
    }
}

.side__select {
    position: relative;
    
    float: left;
  }
  
  select::-ms-expand {
  display: none;
  }
  
  .side__select:after {
    content: '<>';
    font: 17px "Consolas", monospace;
    color: #333;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: 11px;
    
    top: 18px;
    padding: 0 0 2px;
    border-bottom: 1px solid #999;
    
    position: absolute;
    pointer-events: none;
  }
  
  .side__select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    
    display: block;
    width: 100%;
    height: 50px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: #333;
    background-color: #999;
    background-image: none;
    border: 1px solid #cccccc;
    -ms-word-break: normal;
    word-break: normal;
  }

@media screen and (max-width: 640px){
    .side {
        transition: .5s;
        position: absolute;
        top: 0;
        left: -17rem;

        width: 16rem;

        background-image: url('../../assets/sideBG/Ellipse\ 54\ \(1\).png');
        background-position: -30rem -40rem;
        background-size: 350% 200%;
    }
}