.side {
    width: 100%;
    height: 100%;


    background-color: #27282A;
    background-image: url('../../assets/img/sideBG/Ellipse\ 54\ \(1\).png');
    background-repeat: no-repeat;
    background-position: -25rem -10rem;
    background-size: 280% 100%;
}

.side__wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;

    padding: 1rem;
}

.side__input {
    width: 100%;
}

label {
    font-family: 'Ubuntu', sans-serif;
    display: block;
}

input {
    all: unset;
}

.side__input {
    background-color: none;

    height: 2rem;
    font-size: 1.5rem;
    color: white;

    border: none;
   
    
    margin-bottom: .5rem;
    margin-top: .5rem;
    margin-right: 0.5rem;
}

.side__search {
    display: flex;


    & span {
        font-size: 1.2rem;
    }

    border-bottom: .2rem solid black;
    
    &:focus {
        border-bottom: .2rem solid black;
    }
}

.form__input {
    position: relative;
}

.side__link {
    text-decoration: none;
}

.side__logo {
    display: flex;
    align-items: center;


    font-size: 2rem;
    color: white;

    margin-bottom: 2rem;


    & img {
        margin-right: .5rem;
    }
}